

<div class="share-page">
    
<div class="inner">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><img src="/assets/tweet.png" style="width:42px;height:42px;background:transparent;"></a>
</div>
<div class="inner">
  <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src="/assets/facebook.png" style="width:42px;height:42px;background:transparent;"></a>
</div>
<div class="inner">
<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><img src="/assets/google.jpeg" style="width:42px;height:42px;background:transparent;"></a>
</div>

</div>