

<div class="share-page">
    
<div class="inner" style="display: inline">
	<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></a>
</div>
<div class="inner" style="display: inline">
  <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src="/assets/facebook.png" style="width:42px;height:42px;background:transparent;"></a>
</div>
<div class="inner" style="display: inline">
<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+"><img src="/assets/google.jpeg" style="width:42px;height:42px;background:transparent;"></a>
</div>
<div class="inner" style="display: inline">
<a href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on LinkedIn"><img src="/assets/linkedin.jpg" style="width:42px;height:42px;background:transparent;"></a>
</div>
</div>